@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Space+Grotesk:wght@500;700&display=swap");

body {
  @apply bg-slate-50 text-slate-800 antialiased;
  font-family: "Manrope", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Space Grotesk", sans-serif;
}

#root {
  min-height: 100vh;
}
